# Node
node_modules/

# tools
tools/a11y/node_modules/
tools/a11y/artifacts/

# Editor
.vscode/
.DS_Store

# Logs
*.log

# Build / Docker
.Dockerfile
.env

# Ignore local test artifacts
tools/a11y/remote-check.log
